<ng-template [ngIf]='post'>
  <div style='padding: 5%;'>
    <form [formGroup]='form' (ngSubmit)='submit(form.value)'>
      <div fxLayout="row" fxLayoutAlign="space-around center">
        <mat-form-field style='width: 100%' appearance='outline'>
          <mat-label>Search</mat-label>
          <input type="text" matInput formControlName='text'>
        </mat-form-field>
        <button mat-button type='submit'>search</button>
      </div>
    </form>
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>{{ post.title }}</mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor='let comment of comments'>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <p>Email: {{ comment.email }}</p>
            <p>Name: {{ comment.name }}</p>
          </div>
          <p>{{ comment.body }}</p>
          <hr>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <ng-template>
